body,
html {
  height: 100%;
  margin: 0;
  background-color: rgb(54, 56, 56);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  height: 27%;
}
#label {
  font-weight: bolder;
  font-size: larger;
  color: cornsilk;
}
#pronounce-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#pronounce-form label {
  margin-bottom: 10px;
}

#pronounce-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  font-size: 16px;
}

#Button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#pronounce-button:hover {
  background-color: #45a049;
}

#playlist {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* Style for each audio item */
.audio-item {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for audio title */
.audio-title {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for audio description */
.audio-description {
  margin-bottom: 10px;
}

/* Style for the audio player */
audio {
  width: 100%;
  outline: none;
  border: none;
}

#not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#not-found img {
  width: 80px;
  height: 80px;
}

#not-found p {
  margin-top: 10px;
}
.spinner {
  display: none;
  position: relative;
  width: 72px;
  height: 72px;
}

.spinner::before,
.spinner::after {
  content: "";
  width: 100%;
  height: 100%;
  animation: spinner-rfi6tk 1s infinite linear;
  box-sizing: border-box;
  border: 14.4px solid rgba(94, 255, 102, 0.1);
  border-radius: 50%;
  position: absolute;
}

.spinner::before {
  animation-direction: reverse;
  border-right-color: #5eff66;
  right: calc(50% - 7.2px);
}

.spinner::after {
  border-left-color: #5eff66;
  left: calc(50% - 7.2px);
}

@keyframes spinner-rfi6tk {
  0% {
    transform: rotate(0deg);
  }

  50%,
  100% {
    transform: rotate(360deg);
  }
}
